 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ZHAO Zhixuan has got his bachelor's degree in Heifei University of Technology (HFUT) with the outstanding student honor in 2019. During his undergraduate period, he has won the First Prize of Provincial Mechanics Competition. Then he has got his master's degree in Northwestern Polytechnical University (NWPU) with the outstanding student honor as well. His master thesis about 'LIFT' has won the Outstanding Thesis of NWPU.</p>
                </div>
                <div class="col-lg-4">
                    <p>Besides research, Zhixuan really likes playing basketball. He has won the champion and the MVP honor of the final game of basketball league of HFUT in 2018. He is a big fan of the Shandong team of CBA, the CBA star DING Yanyuhang, and the NBA star Carmelo Anthony. In addition, he has also passed the Grade 7th clarinet test.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
